extends layouts/main
block content
    h1 About pagge
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id minus excepturi necessitatibus saepe? Error voluptates officia obcaecati atque culpa. Neque quaerat, laudantium incidunt adipisci exercitationem quia expedita voluptatem, modi aliquid natus non. Suscipit eum libero obcaecati, magni perspiciatis adipisci consequuntur beatae dignissimos aspernatur expedita nihil explicabo ipsa voluptates blanditiis corrupti consectetur voluptatibus, excepturi quo! Laboriosam saepe earum et ut assumenda voluptates eum dolorum iusto, suscipit nam nostrum quos est at quae tempora tempore, cumque repudiandae quibusdam. Quod dignissimos numquam in doloremque qui. Dicta similique provident porro. Culpa quisquam temporibus mollitia. Blanditiis laboriosam dignissimos ullam quibusdam vitae dolor quos aperiam sed accusantium soluta. Nam quia dignissimos ea fuga fugit dolore voluptas beatae iusto consequatur earum. Iste fuga eius, laudantium animi dolores non id veritatis sequi laboriosam perferendis numquam maiores nulla quaerat quibusdam nostrum ab quasi reiciendis esse quisquam minima asperiores quas molestias adipisci! Possimus asperiores minus dolor veritatis at qui perferendis, perspiciatis laudantium odit deserunt deleniti laborum beatae velit accusantium consectetur impedit alias. Repellat minus cumque neque natus, eveniet sapiente assumenda non ipsa modi at fugit nihil, aspernatur consectetur ipsam nulla vero obcaecati hic magni consequuntur provident. Maiores vero quam, ea minus pariatur fuga dolorem tenetur itaque voluptates, ad excepturi quas!
    a.btn-floating.pulse
      i.material-icons Telegram
    a.btn-floating.btn-large.pulse
      i.material-icons Instagram
    a.btn-floating.btn-large.cyan.pulse
      i.material-icons Faceboik

